body {
    font-family: 'Anton', sans-serif;
    margin: 0;
    background-color: black;
}

.logo {
    width: auto;
    height: 7vh;
    margin: 10px auto;
}

nav {
    background-color: black;
    height: 15vh;
}

.top {
    color: #fff;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

li {
    margin-right: 10px;
}

a {
    align-items: center;
    display: flex;
    color: #fff;
    text-decoration: none;
}

.body {
    color: #fff;
    position: relative;
    width: 100vw;
    height: 80vh;
}

.title {
    margin-left: 10px;
    font-size: 35px;
    position: absolute;
    top: 40%;
}

.pe {
    color: white;
    display: flex;
    background-color: black;
    width: 100%;
    height: 5vh;
    justify-content: center;
}

span {
    margin: auto 0;
}

img {
    height: 80vh;
    width: auto;
}

.menu-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

.list p {
    margin-top: 5px;
}

.menu-item {
    margin-bottom: 50px;
}

.menu-item img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 1em black;
}

.menu-item:hover {
    box-shadow: 0 0 3em gray;
    transition: 0.3s ease-in;
    border-radius: 20px;
}

.info {
    background-color: #fff;
    color: black;
    text-align: center;
    width: 100vw;
    height: 80vh;
}

.info p {
    font-size: 14px;
}

.grupo {
    height: 30vh;
    width: 100%;
}

.homer {
    height: 100%;
    width: 100%;
}

.contact {
    background-color: #fff;
    color: black;
    text-align: center;
    width: 100vw;
    height: 80vh;
}

.contact h1 {
    margin: 0;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea, input {
    width: 250px;
    border: none;
    border-bottom: 1px solid #121619;
}

textarea {
    margin-top: 10px;
}

form div {
    margin-top: 30px;
}

button {
    margin-top: 50px;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
}


@media screen and (min-width: 768px) {
    .top {
        font-size: 25px;
    }

    .title {
        font-size: 60px;
    }

    .pe {
       font-size: 25px; 
    }

    .grupo {
        height: 40vh;
        width: 100%;
    }

    p {
        margin: 0 50px;
    }

    button {
        width: 200px;
        height: 60px;
    }

    form div {
        font-size: 25px;
    }

    textarea, input {
        width: 500px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        width: auto;
    }

    .logo {
        margin-left: 30px;
    }

    li {
        margin-right: 30px;
    }

    .body img {
        width: 100%;
        height: 85vh;
    }

    .body {
        height: 85vh;        
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu-item img {
        height: 200px;
        width: 250px;
    }

    .menu-item {
        margin: 50px 150px;
    }

    .menu-item:hover {
        cursor: pointer;
    }

    .grupo {
        width: 100%;
        height: 50%;
    }

    #msg {
        line-height: 70%;
    }

    .contact {
        height: 85vh;
    }

}